/* estilos generales*/ 

* {
    margin: 0;
    padding: 0;
    font-family: sans Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(247,242,203);
}

header{
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(236, 182, 1);
}
h1{
    font-size: 2.5rem;
    
}
h2{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
h3{
    font-size: 1.25rem;
    margin-top: 30px;
    margin-bottom: 10px;
}
.menu{
    width: 50%;
    margin-right: 150px;

}   
ul{
    list-style: none;
    display: flex;
    /*flex-direction: row*/
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    height: 100%;
} 
li{
    /*border: solid rgb(236, 182, 1) 2px;*/
    padding: 10px;
}
footer{
    display: flex;
    padding: 20px;
    margin-top: 20px;
    font-size: 15px;
    font-style: italic;
    align-items: center;
    border-top: 1px solid rgb(236, 182, 1);
}
.rojo{
    color: rgb(255, 0, 0);
    font-size: 2rem;
    margin-left: 400px;
    margin-bottom: 70px;
}
    
/*estilos con grid index*/
.grid{
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "div     div   manda  manda"
    "img2   img3   img4   img5";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 500px 300px;
    justify-items: center;
    align-items: center;
}
.titulo{
    grid-area: titulo;
}
/*.texto{
    grid-area: texto;
}
.img1{
    grid-area: img1;
} */ 
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.grid img{
    width: 250px;
}
.div{
    grid-area: div;
}
.manda{
    grid-area: manda;
    height: 200px;
    width: 200px;
}

/*Responsive desing*/
/**Desktop*/
@media (min-widht: 1024px) {
    .grid{
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "div     div   manda  manda"
        "img2   img3   img4   img5";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 500px 300px;
        justify-items: center;
        align-items: center;
}
} 

/*Tablet*/
@media (min-widht: 481px) and (max-widht: 1023px) {
    .grid{
        display: grid;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "div     div   manda  manda"
        "img2   img3   img4   img5";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 500px 300px;
        justify-items: center;
        align-items: center;
}
}

/*smartphone*/
@media (max-widht: 480px){
    .grid{
        display: grid;
        grid-template-areas: 
        "titulo"
        "div"
        "manda"
        "img2"
        "img3"   
        "img4"
        "img5";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 200px auto;
        justify-items: center;
        align-items: center;
        margin-top: 1px;
}
 header {
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
 }
 nav {
    padding: 10px;
    justify-content: center;
 }
}